{% extends "base.html" %}

<!--  -->
{% block styles %}
<link rel="stylesheet" href="/student_list.css" />
{% endblock %}

<!--  -->
{% block page_content %}
<div class="paper">
    <div class="paper-head">
        <div id="new-btn" class="btn">新建课程记录</div>
    </div>
    <div class="paper-body">
        <table id="student-table" class="table">
            <thead>
                <tr>
                    <th class="col-stu_name">课程名</th>
                    <th class="col-stu_no">课程号</th>
                    <th class="col-gender">上课时间</th>
                    <th class="col-enrolled">上课地点</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="student-editor dialog-background">
        <form class="dialog">
            <div class="dialog-head"></div>
            <div class="dialog-body">
                <input type="hidden" name="stu_sn" />
                <label>课程名 </label>
                <input type="text" name="stu_no" />
                <label>上课时间</label>
                <input type="text" name="stu_name" />
                <label>上课地点 </label>
                <input type="text" name="gender" />
                <label>课程号 </label>
                <input type="text" name="enrolled" />
            </div>
            <div class="dialog-footer">
                <a id="save-btn" class="btn">保存</a>
                <a id="close-btn" class="btn">关闭</a>
            </div>
        </form>
    </div>
    <div class="comfirmation-dialog dialog-background">
        <form class="dialog">
            <div class="dialog-head"></div>
            <div class="dialog-body">
                <div id="message"></div>
            </div>
            <div class="dialog-footer">
                <a id="ok-btn" class="btn">确定</a>
                <a id="cancel-btn" class="btn">放弃</a>
            </div>
        </form>
    </div>
</div>
<script src="/course.js"></script>
{% endblock %}
